<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="index.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
   
</head>
<body>
   <style>
      @import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Poppins:wght@300;400;700&display=swap');
  </style>
   <div class="wrapper">
      <!-- <div><a href="#">GatSy</a></div> -->
      <div class="container">
         <div class="ham"></div>
         <div class="ham"></div>
         <div class="ham"></div>
      </div>
   </div>
   <div style="display:flex">

      <ul class="menu">
        <form method="post" action="/aply">
            <li><a href="apply.html"><button type="submit"><p>Apply for Gate Pass</p></button></a></li>
         </form>

         <form method="post" action="/status">
            <li><a href=""><button type="submit"><p>Check Status</p></button></a></li>
         </form>
      
		 <form  action="/">
            <li><a href=""><button type="submit"><p>LogOut</p></button></a></li>
         </form>
    
      </ul>
      <div style="margin-left: 100px; margin-top: 16%;">
         <h1 class="header">Welcome Back <%=name%></h1>
         <h3 style="text-align: center;font-style:normal;font-weight: 300;width: 400px;margin-left: 10%;">It's been a while since you bunked classes, how about we try to get you a gatepass. <br>LET'S GO!!!</h3>
      </div>
   </div>
   <script>
	var logo=document.querySelector('.container');
var menu = document.querySelector('.menu');

logo.addEventListener('click',function(){
menu.classList.toggle('showmenu');
});


</script>
</body>
</html>